
recursive-include oasys2 *.pyx *.c *.cpp
recursive-include oasys2/canvas *.ico *.png *.svg
recursive-include oasys2/canvas/workflows *.ows
recursive-include oasys2/widgets *.png *.svg *.js *.css *.html

recursive-exclude oasys2/canvas/icons/__archive *